@import './base.css';
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

  .ant-btn-primary{
    background: #28c57c;
    color: white !important;

  }
  .ant-btn-primary:hover,.ant-btn-primary:focus{
    background: #28c57c !important;
    color: white !important;
    border-color:#28C57C !important;
  }

  .ant-btn{
    border-color:#28C57C !important;
  }
  .ant-btn:hover,.ant-btn:focus{
    border-color:#28C57C !important;
    color: white !important;
  }

  .normal-button,.normal-button:hover{
    color: #28c57c !important;
    border-color: #28c57c;
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,.ant-input:hover{
    border-color: #28c57c !important;
  }

  .ant-switch-checked{
    background-color:#28C57C !important;
  }

  .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused{
    border-color: #28c57c !important;
    box-shadow: unset !important;
  }

  .ant-tabs-tab:hover{
    color: #28C57C !important;
  }

  .ant-modal-header{
    border-radius: 12px 12px 0 0 !important;
  }
  .ant-modal-title{
    font-size:24px !important;
    line-height:32px !important;
    font-weight: 600 !important;
  }
  .ant-modal-content{
    border-radius: 12px !important;
  }

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
