# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/dist
/pkg/controller/dist/
/a-line
/a-line.exe
/aline
/aline-test
/aline-worker-test
/aline-worker
/aline-worker
/aline-worker-test

/.vscode

go.sum
hamster-develop
/.env

pipeline2.yml
/pipeline3.yml
/pkg/service/arrange_test.go
/pkg/service/bnb_test.go
